<style>

@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');

body {
  background-color: lightblue;
}

h1 {
  color: red;
  text-align: center;
  font-family: 'Manjari', sans-serif;
  border: 10px solid red;
}

h2 {
  color: blue;
  text-align: left;
  border: 4px blue;
}

p {
  font-size: 20px;
  border: 4px blue;
}

img{
	width: 50px;
	height: 80px;
}
</style>
